  /*==============
1. Global Values
================*/

@font-face {
  font-family: "open sans";
  src: url(../fonts/Andika-Regular.ttf);
}

body {
    font-family:  'Andika', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:#cf2e2e;
  }

h1{
  font-size: 40px;
  color: #fff;
}

main{
    flex:1;
  }
  
  *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }


  input{
    font-weight: 700;
    padding-block: 5px;
    padding-left: 5px;
    font-size: 15px;
  }
  
  .hide-this-label {
    display: none;
  }


      /*==============
2. Navigation
================*/

.logo img {
    display: flex;
    align-self: center;
    width: 100px;
    height: 100px;
  }
  nav {
    background-color: #0071bc;
    width: 100%;
    justify-content: space-evenly;
  }
  
    nav ul{
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      max-width:1000px;
      margin: 0 auto; 
    }
  
    nav ul li{
      padding:10px 10px;
      display: flex;
      align-self: center;
    }
  
  nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    align-self: center;
  }
  
  
  nav [type=text]{
    font-size: 12px;
    color: white;
    max-height: 30px;
    align-self: center;
  }

  .search-input{
    display: none;
  }

  
  
  header{display: flex;
   justify-content: space-around;
  }
  
  
  nav a:hover,.bottom-nav a:hover {
    border-radius: 5px;
    transition: 0.5s;
    background-color: #cf2e2e;
  }


  /*==============
3. Homepage Images, Image Buttons and text
================*/


.container{
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  margin: 0 auto;
}

.welcome1,
.welcome2,
.welcome3 {
  height: 400px;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: space-around;
  position: relative;
}

.welcome1 img,
.welcome2 img,
.welcome3 img {
  height: 400px;
  max-width: 267px;
  display: flex;
  border-color: #fff;
  border-style: solid;
  flex-wrap: wrap;
}


.visit-text,
.weekend-text,
.program-text,
.ex-text {
  background: rgb(0,0,0,0.5);
  padding: 25px;  
  font-size: 30px;
  position: absolute;
  bottom: 5px;
  font-weight: bold;
  border-radius: 5px;
}

.visit-text a,
.weekend-text a,
.program-text a,
.ex-text a,
.info-text a{
  text-decoration: none;
  color: #fff;
}
.welcome-exhibition{
  background-image: url(../images/Moon2.jpg);
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  background-position-y: center;
  margin-top: 20px;
  position: relative;
  justify-content: center;
  border-color: white;
  border-style: solid;
  border-right: none;
  border-left: none;
}



  .btn1, .btn2{
    text-align: center;
    margin-top: 10px;
  }

  .btn1 a{
    font-size: 25px;
    background-color: green;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 5px;
  }
  


  .newsrow{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    align-items: center;
    flex-wrap: wrap;
  }

  .newsbox,
  .adressbox{
    border-color: black;
    border-style: solid;
    padding: 5px 25px;
    font-size: 22px;
    height: 240px;
    width: 260px;
    background-color:#0071bc;
    margin-top: 10px;
  }


  .adressbox{
   list-style: none;
   text-align: left;
  }


    /*==============
4. Footer
================*/

.footer{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  align-items: center;
  flex-wrap: wrap;
  border-color: black;
  border-style: solid;
  padding: 25px;
  background-color: crimson;
}

.contact{
  text-align: left;
  max-width: 450px;
  font-size: 20px;
}


.btn2 a{
  font-size: 25px;
  background-color: #0071bc;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


.bottom{
  height: 50px;
  background-color:#0071bc;
  border-style: solid;
  border-color: black;
  border-top: none; 
}


.some-container{
  max-width: 180px;
  background-color:#fff;
  display: flex;
  justify-content: space-evenly;
  border-right: #000;
  border-style: solid;
  border-top: none;
  border-bottom: none;
  border-left: none;
}


.btn3 a{
  color:#000; 
  cursor: pointer; 
  padding: 5px; 
  border-radius: 10px; 
  font-size: 18px; 
  float:right;
  margin-right: 5px;
  margin-top: 5px;
  }
  
    /*==============
5. Icons
================*/


.fa-brands {
  font-size: 30px;
  padding: 10px
}

.fa-square-facebook, .fa-cc-visa{
  color: blue;
}

.fa-square-instagram{
  color:indianred;
}

.fa-square-twitter, .fa-cc-paypal{
  color:cornflowerblue;
}

.fa-square-youtube, .fa-cc-amex{
  color: crimson;
}


 .a:visited{
    text-decoration: none;
    color: #fff;
  }


    /*==============
6. Vist us
================*/


.infobox, .Infobox2{
  border-color: black;
  border-style: solid;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 50px;
  color:#fff;
  margin:auto;
  font-size: 25px;
}

.Infobox2{
  padding: 20px;
  margin-top: 10px;
  text-align: center;
  background-color: greenyellow;
  color: #000;
}

.ticketbutton{
  margin-bottom: 10px;
}

.ticketbutton a{
  font-size: 25px;
  background-color: #0071bc;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  max-width: 200px;
}


.flex-container{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}


.flex-container img{
  width: 400px;
  height: 400px;
  border-color: #fff;
  border-style: solid;
  display: block;
}

.mapbox,
.hourbox,
.cafebox,
.shopbox{
  flex: 25%;
  position: absolute;
}


.info-text{
  background: rgb(0,0,0,0.5);
  padding: 15px;  
  font-size: 30px;
  position: absolute;
  bottom: 5px;
  font-weight: bold;
  border-radius: 5px;
  width: fit-content;
}


.maps{
  left:37%;
}

.hours{
  left: 20%;
}

    /*==============
Media Queries
================*/


@media(min-width:700px){
  nav ul li a{
    font-size: 30px;
  }
  .logo img{
    height:125px;
    width: 125px;
  }
}


  @media(min-width:1000px){
  
    .search-input{
      display: block;
    }
    }
  
    @media (min-width: 600px) {
      .mapbox,
      .hourbox,
      .cafebox,
      .shopbox{
        flex: 50%;
      }
    }