  /*==============
1. Global Values
================*/

@font-face {
  font-family: "open sans";
  src: url(../fonts/Andika-Regular.ttf);
}

html, body {
  height:100%;
} 


body {
    font-family:  'Andika', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:#cf2e2e;
    color: #fff;
  }

h1,h2{
  font-size: 40px;
  color: #fff;
}

main{
    flex:1;
  }
  
  *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }


  input{
    font-weight: 700;
    padding-block: 5px;
    padding-left: 5px;
    font-size: 15px;
  }
  
  .hide-this-label {
    display: none;
  }


  .rounded{
    margin-top: -12px;
    z-index: -1;
    color: #0071bc;
  }

  .rounded2{
    color: #0071bc;
    width: 90%;
    margin-left: 5%;
  }

      /*==============
2. Navigation
================*/

.logo{
  z-index:1;
}

.logo img {
    display: flex;
    align-self: center;
    width: 100px;
    height: 100px;
  }
  nav {
    background-color: #0071bc;
    width: 100%;
    justify-content: space-evenly;
  }
  
    nav ul{ 
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      max-width:1000px;
      margin: 0 auto; 
    }
  
    nav ul li{
      padding:10px 10px;
      display: flex;
      align-self: center;
    }
  
  nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    align-self: center;
  }
  
  
  nav [type=text]{
    font-size: 12px;
    color: white;
    max-height: 30px;
    align-self: center;
  }

  .search-input{
    display: none;
  }

  
  
  header{display: flex;
   justify-content: space-around;
  }
  
  
  nav a:hover,.bottom-nav a:hover {
    border-radius: 5px;
    transition: 0.5s;
    background-color: #cf2e2e;
  }


  /*==============
3. Homepage Images, Image Buttons and text
================*/


.container{
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  margin: 0 auto;
}

.welcome {
  height: 400px;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.welcome img {
  max-width: 267px;
  display: flex;
  border-color: #fff;
  border-style: solid;
  flex-wrap: wrap;
}


.hptext {
  background: rgb(0,0,0,0.5);
  padding: 20px;  
  font-size: 18px;
  position: absolute;
  bottom: 3px;
  font-weight: bold;
  border-radius: 5px;
}

.hptext a{
  text-decoration: none;
  color: #fff;
}



.welexhib{
  background-image: url(../images/hpmoon.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:500px;
  width: 100%;
  display: flex;
  margin-top: -2px;
  position: relative;
  justify-content: center;
  border-color: white;
  border-style: solid;
}

.hptext2{
  font-size: 30px;
}

  .btn1,
  .btn2{
    text-align: center;
  }

  .btn1 a{
    font-size: 25px;
    background-color: green;
    color: white;
    padding: 5px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 5px;
  }
  

  .adressbox{
    border-color: black;
    border-style: solid;
    padding: 5px 25px;
    font-size: 22px;
    height: 260px;
    width: 260px;
    background-color:#0071bc;
    margin-top: 10px;
    list-style: none;
    text-align: left;
  }

    /*==============
4. Footer
================*/

.footer{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  align-items: center;
  flex-wrap: wrap;
  border-color: black;
  border-style: solid;
  padding: 25px;
  background-color: crimson;
}

.contact{
  text-align: left;
  max-width: 450px;
  font-size: 20px;
}


.btn2 a{
  font-size: 25px;
  background-color: #0071bc;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 12px;
}


.bottom{
  height: 50px;
  background-color:#0071bc;
  border-style: solid;
  border-color: black;
  border-top: none; 
}


.some-container{
  max-width: 180px;
  height: 47px;
  background-color:#fff;
  display: flex;
  justify-content: space-evenly;
  border-color: #000;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-bottom: none;
}


.btn3 a{
  color:#000; 
  cursor: pointer; 
  padding: 5px; 
  border-radius: 10px; 
  font-size: 18px; 
  float:right;
  margin-right: 5px;
  margin-top: 5px;
  }
  
    /*==============
5. Icons
================*/


.fa-brands {
  font-size: 30px;
  padding: 10px
}

.fa-square-facebook, .fa-cc-visa{
  color: blue;
}

.fa-square-instagram{
  color:indianred;
}

.fa-square-twitter, .fa-cc-paypal{
  color:cornflowerblue;
}

.fa-square-youtube, .fa-cc-amex{
  color: crimson;
}


 .a:visited{
    text-decoration: none;
    color: #fff;
  }


    /*==============
6. Vist us
================*/


.infobox{
  border-color: black;
  border-style: solid;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 50px;
  margin:auto;
  font-size: 25px;
}

.infobox2{
  padding: 20px;
  margin-top: 10px;
  text-align: center;
  background-color: greenyellow;
  color: #000;
  border-radius: 5px;
}

.ticketbutton{
  margin-bottom: 10px;
  text-align: center;
  margin-top: 10px;
}

.ticketbutton a{
  font-size: 25px;
  background-color: #0071bc;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  max-width: 200px;
}


.flex-container{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
}


.flex-container img{
  width: 400px;
  height: 400px;
  border-color: #fff;
  border-style: solid;
}

.visitbox{
  flex: 25%;
  position: relative;
}


.info-text{
  background: rgb(0,0,0,0.5);
  padding: 15px;  
  font-size: 30px;
  position: absolute;
  bottom: 10px;
  font-weight: bold;
  border-radius: 5px;
  width: fit-content;
}


.maps{
  left:39%;
  bottom:10px;
}

.hours{
  left:30%;
  bottom:10px;
}

.food{
  left:30%;
  bottom:10px;
}

.shop{
  left:30%;
  bottom:10px;
}

    /*==============
Opening Hours
================*/

.find1, 
.shop2{
  border-color: black;
  border-style: solid;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin:auto;
  font-size: 20px;
  text-align: left;
  margin-top: 10px;
}

.find1 ul li{
  list-style: none;
}

.button2 a{
  padding: 10px;
}

.find2 img{
  height: 475px;
  width: 600px;
  margin-top: 10px;
  border-style: solid;
  border-color: #fff;
  overflow: hidden;
}



    /*==============
Cafè
================*/

.cafe1 img{
  height:auto;
  width:50%;
  min-width: 400px;
  margin-top: 10px;
}

.cafe2 img{
  height: auto;
  min-width: 500px;
  max-height: 450px;
  margin-top: 10px;
  margin-left: 10px;  
  margin-right: 10px;
}

    /*==============
The gift shop
================*/

.shopbox2{
  display: flex;
  margin: 0 auto;
  gap: 50px;
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;
}

.shopbox2 img{
  height: 420px;
  width: 500px;
  border-style: solid;
  border-color: #fff;
  margin-top: 5px;
}
.shopbox div{
  flex: 1;
}

.shop1{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.shop2{
padding:30px;
max-width: 770px;
}

.shoptop{
  font-size: 15px;
  position: relative;
  top: 18px;
}

.shop3{
  margin-top: 5px;
}


    /*==============
This Weekend
================*/

.weekendtext{
  border-style: solid;
  border-color: #000;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10px;
}

.weekendtext ul li{
  list-style: none;
  text-align: center;
  color: #fff;
  margin-left: 10px;
}

.tweek{
  height: 400px;
  display: flex;
  position: relative;
  margin-bottom: 15px;
  margin-top: 10px;
  gap:30px;
}

.tweek img{
  width: 500px;
  display: flex;
  border-color: #fff;
  border-style: solid;
  flex-wrap: wrap;
}

.tweek ul li{
  list-style: none;
  text-align: left;
  color: #fff;
  max-width: 200px;
  margin-left: 10px;
}

    /*==============
Program
================*/

.program{
  display: flex;
  justify-content: space-evenly;
  gap: 750px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.some-container2{
  background-color:#fff;
  border-radius: 5px;
  border-style: none;
}

.containerprog{
  margin-bottom: 10px;
}


    /*==============
Exhibitions
================*/

.exhibitions{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:500px;
  width: 100%;
  position: relative;
  justify-content: center;
  border-color: white;
  border-style: solid;
  margin-bottom: 5px;
}

.ex1{
  background-image: url(../images/cosmology.webp);
}

.ex2{
  background-image: url(../images/Darwin.webp);
}

.ex3{
  background-image: url(../images/biology.webp);
}

.ex4{
  background-image: url(../images/Robotics.webp);
}

.ex5{
  background-image: url(../images/Ecology.webp);
}

.ex6{
  background-image: url(../images/aviation.webp);
}

.ex7{
  background-image: url(../images/science\ lab.webp);
}


    /*==============
Exhibtions specific
================*/

.exhibition-text{
  max-width: 700px;
  font-size: 30px;
  margin: auto;
  background: rgb(0,0,0,0.5);
  margin-top: 5px;
  text-align: left;
}

.Exhib-background{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 1000px;
}

.cosmology{
  background-image: url(../images/cosmos.webp)
}


    /*==============
Explore Together
================*/

.kids1{
  background-image:url(../images/Lego\ 2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 1000px;
}


    /*==============
Media Queries
================*/


@media(min-width:700px){
  nav ul li a{
    font-size: 30px;
  }
  .logo img{
    height:125px;
    width: 125px;
  }
}

@media(max-width: 700px){
  .tweek img{
    max-width: 257px;
  }
  .tweek{
    gap:2px;
  }
  .some-container2{
    display: none;
  }
}

  @media(min-width:1000px){
    .search-input{
      display: block;
    }
    .shopbox2{
      flex-wrap: nowrap;
    }
    .tweekbox{
      flex-wrap: nowrap;
    }
    }


    @media(max-width: 428px){
    .flex-container{
     flex-wrap: nowrap;
     flex-direction: column;
    }
  }

  @media(min-width:1200px){
    .cafe1 img{
      display: none;
    }
    .logo img{
      margin-left: -300px;
    }
  }

  
  @media(max-width:1200px){
    .program{
      gap:5px;
    }
  }
