  /*==============
1. Global Values
================*/

@font-face {
  font-family: "open sans";
  src: url(../fonts/Andika-Regular.ttf);
}

html, body {
  height:100%;
} 


body {
    font-family:  'Andika', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:#cf2e2e;
    color: #fff;
  }

h1,h2{
  font-size: 40px;
  color: #fff;
}

main{
    flex:1;
  }
  
  *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }


  input{
    font-weight: 700;
    padding-block: 5px;
    padding-left: 5px;
    font-size: 15px;
  }
  
  .hide-this-label {
    display: none;
  }


  .rounded{
    color: #0071bc;
  }

  .line2{
    margin-top: -12px;
    z-index: -1;
    float: left;
    width: 40%;
    margin-left: none;
  }

  .line3{
    margin-top: 5px;
  }

      /*==============
2. Navigation
================*/

.logo{
  z-index:1;
}

.logo img {
    display: flex;
    align-self: center;
    width: 100px;
    height: 100px;
  }
  nav {
    background-color: #0071bc;
    width: 100%;
    justify-content: space-evenly;
  }
  
    nav ul{ 
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      max-width:1000px;
      margin: 0 auto; 
    }
  
    nav ul li{
      padding:10px 10px;
      display: flex;
      align-self: center;
    }
  
  nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    align-self: center;
  }
  
  
  nav [type=text]{
    font-size: 12px;
    color: white;
    max-height: 30px;
    align-self: center;
  }

  .search-input{
    display: none;
  }

  
  
  header{display: flex;
   justify-content: space-around;
  }
  
  
  nav a:hover,.bottom-nav a:hover {
    border-radius: 5px;
    transition: 0.5s;
    background-color: #cf2e2e;
  }


  /*==============
3. Homepage Images, Image Buttons and text
================*/


.container{
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  margin: 0 auto;
}

.welcome {
  height: 400px;
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-top: 10px;
}

.welcome img {
  width: 500px;
  display: flex;
  border-color: #fff;
  border-style: solid;
  flex-wrap: wrap;
}


.hptext {
  background: rgb(0,0,0,0.5);
  padding: 20px;  
  font-size: 18px;
  position: absolute;
  bottom: 3px;
  font-weight: bold;
  border-radius: 5px;
}

.hptext a{
  text-decoration: none;
  color: #fff;
}



.welexhib{
  background-image: url(../images/hpmoon.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:500px;
  width: 100%;
  display: flex;
  margin-top: 10px;
  position: relative;
  justify-content: center;
  border-color: white;
  border-style: solid;
  margin-bottom: 10px;
}

.hptext2{
  font-size: 30px;
}

  .btn1{
    text-align: center;
  }

  .btn1 a{
    font-size: 25px;
    background-color: green;
    color: white;
    padding: 5px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 5px;
  }
  

  .adressbox{
    border-color: black;
    border-style: solid;
    padding: 5px 25px;
    font-size: 22px;
    background-color:#0071bc;
    margin-top: 10px;
    list-style: none;
    text-align: left;
    width: 500px;
  }

    /*==============
4. Footer
================*/

.footer{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  align-items: center;
  flex-wrap: wrap;
  border-color: black;
  border-style: solid;
  padding: 25px;
  background-color: crimson;
}


.contactbox{
  border-color: black;
  border-style: solid;
  padding: 5px 25px;
  font-size: 22px;
  max-width: 520px;
  margin-top: 10px;
  background-color:#0071bc;
}

.contact{
  text-align: left;
  max-width: 450px;
  font-size: 20px;
}


.bottom{
  height: 50px;
  background-color:#0071bc;
  border-style: solid;
  border-color: black;
  border-top: none; 
}


.some-container{
  max-width: 180px;
  height: 47px;
  background-color:#fff;
  display: flex;
  justify-content: space-evenly;
  border-color: #000;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-bottom: none;
}


.btn3 a{
  color:#000; 
  cursor: pointer; 
  padding: 5px; 
  border-radius: 10px; 
  font-size: 18px; 
  float:right;
  margin-right: 5px;
  margin-top: 5px;
  }
  
    /*==============
5. Icons
================*/


.fa-brands {
  font-size: 30px;
  padding: 10px
}

.fa-square-facebook, .fa-cc-visa{
  color: blue;
}

.fa-square-instagram{
  color:indianred;
}

.fa-square-twitter, .fa-cc-paypal{
  color:cornflowerblue;
}

.fa-square-youtube, .fa-cc-amex{
  color: crimson;
}


 .a:visited{
    text-decoration: none;
    color: #fff;
  }


    /*==============
6. Vist us
================*/


.infobox{
  border-color: black;
  border-style: solid;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 50px;
  margin:auto;
  font-size: 25px;
}

.infobox2{
  padding: 20px;
  margin-top: 10px;
  text-align: center;
  background-color: greenyellow;
  color: #000;
  border-radius: 5px;
}

.ticketbutton{
  margin-bottom: 10px;
  text-align: center;
  margin-top: 10px;
}

.ticketbutton a{
  font-size: 25px;
  background-color: #0071bc;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  max-width: 200px;
}


.visitbox{
  flex: 25%;
  position: relative;
}


.info-text{
  background: rgb(0,0,0,0.5);
  padding: 15px;  
  font-size: 30px;
  position: absolute;
  bottom: 10px;
  font-weight: bold;
  border-radius: 5px;
  width: fit-content;
}

    /*==============
Opening Hours
================*/

.find1, 
.shop2{
  border-color: black;
  border-style: solid;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin:auto;
  font-size: 20px;
  text-align: left;
  margin-top: 10px;
}

.find1 ul li{
  list-style: none;
}

.button2 a{
  padding: 10px;
}

.find2 img{
  height: 475px;
  width: 600px;
  margin-top: 10px;
  border-style: solid;
  border-color: #fff;
  overflow: hidden;
}


    /*==============
The gift shop
================*/


.shop2{
padding:30px;
max-width: 770px;
}

.shoptop{
  font-size: 15px;
  position: relative;
  top: 18px;
}



    /*==============
This Weekend
================*/

.weekendtext{
  border-style: solid;
  border-color: #000;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10px;
}

.weekendtext ul li{
  list-style: none;
  text-align: center;
  color: #fff;
  margin-left: 10px;
}

    /*==============
Program
================*/

.program{
  display: flex;
  justify-content: space-evenly;
  gap: 750px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.some-container2{
  background-color:#fff;
  border-radius: 5px;
  border-style: none;
}

.containerprog{
  margin-bottom: 10px;
}


    /*==============
Exhibitions
================*/

.exhibitions{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:500px;
  width: 100%;
  position: relative;
  justify-content: center;
  border-color: white;
  border-style: solid;
  margin-bottom: 5px;
}

.ex1{
  background-image: url(../images/cosmology.webp);
}

.ex2{
  background-image: url(../images/Darwin.webp);
}

.ex3{
  background-image: url(../images/biology.webp);
}

.ex4{
  background-image: url(../images/Robotics.webp);
}

.ex5{
  background-image: url(../images/Ecology.webp);
}

.ex6{
  background-image: url(../images/aviation.webp);
}

.ex7{
  background-image: url(../images/science\ lab.webp);
}


    /*==============
Exhibtions specific
================*/

.exhibition-text{
  max-width: 700px;
  font-size: 30px;
  margin: auto;
  background: rgb(0,0,0,0.5);
  margin-top: 5px;
  text-align: left;
}

.Exhib-background{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 1000px;
  margin-bottom: 10px;
}

.cosmology{
  background-image: url(../images/cosmos.webp)
}


    /*==============
Explore row HP
================*/

.explore {
  margin-top: 10px;
  margin-bottom: 10px;
}

.explore img {
 width: 500px;
}


    /*==============
Explore
================*/
.container2{
margin-top: 10px;
}


.kidstext{
 max-width: 1000px;
 text-align: left;
 margin-left: 10px;
 margin-right: 10px;
}

.explore-img img{
  width: 90%;
  height: 90%;
  border-color: #fff;
  border-style: solid;
}

    /*==============
Schools
================*/
.school img{
  width: 450px
}

.schooltext{
text-align: left;
max-width: 400px;
}

    /*==============
Partner
================*/

.partner-img img{
  width: 70%;
  height: 80%;
  border-color: #fff;
  border-style: solid;
  margin-top: 10px;
}

    /*==============
Register
================*/

.newsletter{
  display: flex;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
  gap:20px;
  padding: 20px;
  text-align: left;
}

.newsletter div {
  flex: 1;
}

.email{
  width: 300px;
}



    /*==============
Tickets
================*/

.tickets{
  max-width: 300px;
  margin: 0 auto;
}

.ticket-row{
  border: #000;
  border-style: solid;
  max-width: 850px;
  font-size: 20px;
  border-bottom: none;
  margin: 0 auto;
}

.trbot{
  border-bottom: #000;
  border-style: solid;
}

.dates{
  max-width: 1100px;
}

.color1{
  background-color:#04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.color1:hover,
.select-date:hover{
  background-color: #0071bc;
}

.ticketnumber{
color: #fff;
font-size: 30px;
}

.fa-plus,
.fa-minus{
font-size: 25px;
}


.select-date {
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  margin-top: 10px;
  margin-bottom: 10px;
}


.select-date:active{
  background-color:#0071bc;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.nextweek{
  font-size: 20px;
}

.c2{
  background-color:#0071bc;
  margin-top: 10px;
}

.container-payment{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  max-width: 310px;
margin: 0 auto;
 }
 .fa-brands {
  font-size: 50px;
  padding: 10px
}


.ticket-payment{
  display: flex;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
  gap:20px;
}

.ticket-payment div{
  flex: 1;
}

.column3{
  flex-direction: column;
}
    /*==============
Media Queries
================*/


@media(min-width:700px){
  nav ul li a{
    font-size: 30px;
  }
  .logo img{
    height:125px;
    width: 125px;
  }
  .container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 10px;
  }
}

@media(max-width: 700px){
  .some-container2{
    display: none;
  }  
  .welcome img {
    max-width: 400px;
  }
  .schooltext{
    font-size: 15px;
    max-width: 300px;
  }
  .contactbox{
    max-width: 300px;
  }
  .adressbox{
    flex-direction: column;
    max-width: 300px;
  }
  .newsletter{
    display: block;
  }
  .email{
    width: 220px;
  }
  .ticket-row{
    margin-left: 5px;
    margin-right: 5px;
}
}

  @media(min-width:1000px){
    .search-input{
      display: block;
    }
    .shopbox2{
      flex-wrap: nowrap;
    }
    }


    @media(max-width: 428px){
    .flex-container{
     flex-wrap: nowrap;
     flex-direction: column;
    }
  }

  @media(min-width:1200px){
    .cafe1 img{
      display: none;
    }
    .logo img{
      margin-left: -300px;
    }
    .kidstext{
      font-size: 25px;
    }
  }

  
  @media(max-width:1200px){
    .program{
      gap:5px;
    }
  }
