  /*==============
1. Global Values
================*/

@font-face {
    font-family: "open sans";
    src: url(../fonts/Andika-Regular.ttf);
  }
  
  html, body {
    height:100%;
  } 
  
  
  body {
      font-family:  'Andika', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 400;
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      text-align: center;
      color: #fff;
    }
  
  h1,h2{
    font-size: 40px;
    color: #fff;
  }
  
  main{
      flex:1;
    }
    
    *{
      margin:0;
      padding: 0;
      box-sizing: border-box;
    }
  
  a{
    text-decoration: none;
  }
    input{
      font-weight: 700;
      padding-block: 5px;
      padding-left: 5px;
      font-size: 15px;
    }
    
    .hide-this-label {
      display: none;
    }


    .black-text{
        color: #fff;
    }
      
      .logo img {
          width: 100px;
          height: 100px;
        }

        nav .logo a{
            display: block;
            padding: 1rem 0;
        }

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


    nav{
        padding: 0 2rem;
        background-color: #0071bc;
        position: relative;
    }

    nav .logo a{
        display: block;
        padding: 1rem 0;
    }


    nav .nav-items{
        list-style-type: none;
        margin: 0;
        color: #fff;
    }

    nav .nav-items .nav-link{
        padding: 1.3rem 1rem;
        font-size: 1.1rem; 
    }


    
    nav .nav-items .nav-link:hover{
        background-color:black
    }

    nav .nav-items .nav-link:hover a{
        background-color:#fff
    }
